<section class="about-page">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2 class="page-header text-center">About Jungle</h2>
        <p>Welcome to The Jungle, where we believe in the power of plants to reconnect us with nature.</p> 
        <p>Our mission is to bring the beauty of the plant kingdom into your home, fostering a deeper symbiosis with the natural world. Each plant is a living reminder to slow down and appreciate the rhythms of life. Whether you're a seasoned plant parent or new to the green scene, our curated collection offers something for everyone. Join us on this botanical journey as we cultivate a greener, more harmonious future together.</p>
        <p>Thank you for being part of our plant-loving community!</p>
      </div>
    </div>
  </div>
</section>
