.session-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.session-form form {
  width: 400px;
}

.session-form input[type="text"],
.session-form input[type="email"],
.session-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.session-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.session-form input[type="submit"]:hover {
  background-color: #0056b3;
}


.nav-item-welcome {
  display: inline;
  margin-left: 20px;
  padding-top: 8px;
  color: white;
}

.flash {
  text-align: center;
  width: 100%;
  padding-top: 1em;
  font-size: 1.2em;
  font-weight: bold;
  color: goldenrod;
}