.user-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88vh;
}

.user-form form {
  width: 400px;
}

.user-form input[type="text"],
.user-form input[type="email"],
.user-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.user-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-form input[type="submit"]:hover {
  background-color: #0056b3;
}

